:root {
  --main-color-500: #32cd32;
  --main-color-400: #5bd75b;
  --main-color-300: #84e184;
  --main-color-200: #adebad;
  --main-color-100: #d6f5d6;

  --background-color: #ffffff;

  --font-color-500: #000000;
  --font-color-400: #333333;
  --font-color-300: #666666;
  --font-color-200: #999999;
  --font-color-100: #cccccc;
}

.App {
  background-color: var(--background-color);
}

.App-header {
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

.App-header div {
  background-color: var(--main-color-400);
  color: var(--font-color-500);
  border-radius: 25px;
}

.AminoCoverage {
  display: table;
  margin: 0 auto;
}